<html>
  <head>
    <title>Slide Navbar</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/userlogin.css" />
    
  </head>
  <body>
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true" />
      <div class="signup">
        <form action="/verifyphone" method="post" onsubmit=" return valid()">
          <label for="chk" aria-hidden="true">Verify Mobile Number</label>
          <input
            type="text"
            name="phone"
            placeholder="Enter Mobile Number"
            {{!-- required="" --}}
            id="mobilenumber"
          />
          <button id="sign-button" type="submit" >Send OTP</button>
          
        </form>
      </div>
    </div>
    <script>
      
      function valid(){
                 

        const val = document.getElementById('mobilenumber').value
         const conf = true;

         let mnull = true;
        let mwrng = true;
         console.log(val.length)
        if( val === "" || val === null ){
          console.log('mobile number is null')  
          mnull = false;
          alert('Enter Mobile Number');
        }else if(val.length !=10){
          window.alert('Enter a valid Number');
          mwrng = false;
        }
         if(mnull&&mwr){
          return conf=true
         }else{
          return cont = false
         }
      }
       if({{msgerror}}){
       alert(' Mobile Number Already registered') 
      }
    </script>
     
  </body>
</html>