
  <!DOCTYPE html>
<html>
<head>
  <title>Slide Navbar</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/userlogin.css">
</head>
<body>
    <div class="main">    
    <input type="checkbox" id="chk" aria-hidden="true">
      <div id="signup">
        
        <form action="/verifyphone" method="post" id="form" >
          <label for="chk" aria-hidden="true"  >RESET PASSWORD</label>
          <input
            type=""
            name="phone"
            placeholder="Enter Mobile Number"
            id="mobilenumber"
            style="margin: 0px auto;"
          />
          <div style="min-height:30px ;"><p class="danger" id="valid"  style="display: none; margin: 0px 0px 0px 65px ;color: red;"></p></div>
          <button id="sign-button" type="submit" style="margin: 0px auto 0px auto;">Send OTP</button>
          
        </form>
      </div>
  </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
  const Toast = Swal.mixin({
                toast: true,
                position: "center-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener("mouseenter", Swal.stopTimer);
                    toast.addEventListener("mouseleave", Swal.resumeTimer);
                }
            }) 
            function phoneVerify(phone){
         axios.post('/verifyphone',{phone,password:true}).then((response)=>{
      if(response.data.status){
        let {phone}= response.data.status
        Toast.fire({
                            icon: "success",
                            title: "SUCCESS",
                            text: "OTP Send to your Number"
                        });
       document.getElementById('signup').innerHTML=`<form action="/" method="post" id="format" >
          <label for="chk" aria-hidden="true"  >Verify OTP </label>
          <input
            type=""
            name="otp"
            placeholder="Enter OTP"
            id="otpinp"
            style="margin: 0px auto;"
          />
          <div style="min-height:30px ;"><p class="danger" id="valid"  style="display: none; margin: 0px 0px 0px 65px ;color: red;"></p></div>
          <button id="sign-button" type="submit" style="margin: 0px auto 0px auto;">Send OTP</button>
          </form>
          <div id="timerId">
                        <p class="my-2 text-primary" style="font-size:13px;text-align:center"> Resend OTP in
                            <span id="countdowntimer">60</span> Seconds
                        </p>
                    </div>`                 
         timer(phone)
      }
      else{
       Toast.fire({
                            icon: "error",
                            text: response.data.msg
                        })
      }
        } )

          }   
     
   document.getElementById("form").addEventListener("submit" ,e=>{
    e.preventDefault()
   let phone = document.getElementById("mobilenumber").value
 
    if( phone === "" || phone === null ){
          Toast.fire({
                            icon: "error",
                            text: "Enter mobile number"
                        })
    }
    else if(phone.length!=10){
Toast.fire({
                            icon: "error",
                            text: "Enter valid number"
                        })
      

    }
    else{
      phoneVerify(phone)
    }
 
 
  })
   
function timer(phone){
     var timeleft = 60;
            var downloadTimer = setInterval(function () {
                timeleft--;
                document.getElementById("countdowntimer").textContent = timeleft;
                if (timeleft <= 0) {
                    clearInterval(downloadTimer);
                    document.getElementById('timerId').innerHTML = `<button  id="resendIdButton" onclick="phoneVerify(${phone})" class="btn btn-outline-white">
                        <span class="font-weight-bold text-danger cursor">Resend</span></button>`
                }

            }, 1000);
    document.getElementById("format").addEventListener("submit" ,e=>{
    e.preventDefault()
    if (timeleft > 0) {  
    const otp = document.getElementById("otpinp").value;
    if (otp.length==0) {
     Toast.fire({
                            icon: "error",
                            text: "Enter OTP"
                        })
       
    }
        else if (otp.length!=6) {
      Toast.fire({
                            icon: "error",
                            text: "Enter valid OTP"
                        })
    }
    else{
      axios.post('/otpverify',{otp}).then((response)=>{
      if(response.data.status){
        let {phone}= response.data.status
        Toast.fire({
                            icon: "success",
                            title: "SUCCESS",
                            text: "OTP Verified Successfully"
                        })
        passwordSubmit()
      }
      else{
       Toast.fire({
                            icon: "error",
                            text: response.data.msg
                        })
      }
      })
    }
    }
    else{
     Toast.fire({
                            icon: "error",
                            title: "OTP Timed Out",
                            text: "Please Resend OTP"
                        }) 
    }
        })         
            
    }  

    function passwordSubmit(){
     document.getElementById('signup').innerHTML=`<form action="/signup" method="post" id="format2" >
          <label id="labelsignup" for="chk" aria-hidden="true">Sign Up</label>
           
          <input type="email" name="email" id="form3Example3c" placeholder="email" >  
          <input type="password" name="password" id="form3Example4c" placeholder="password">
          <input type="password" name="confirm_password" id="form3Example4cd"  placeholder=" confirm Password" >
          <button id="sign-button" >Sign Up</button>
        </form>` 

        document.getElementById("format2").addEventListener("submit" ,e=>{
    e.preventDefault()
    let formData= new FormData(e.target)
            let data =  Object.fromEntries(formData)
    let {email,password,confirm_password}= data
      let atposition=email.indexOf("@");
      let dotposition=email.lastIndexOf(".")
       if(atposition<1||dotposition<atposition+2||dotposition+2>=email.length)
  {
Toast.fire({
                            icon: "error",
                            text: "Please enter a valid   e-mailaddress"
                        })
  }
  else if(password =="" || confirm_password==""){
  Toast.fire({
                            icon: "error",
                            text: "entert both Password feild"
                        })
 
 }

  else if(password.length !=0 && confirm_password.length!=password.length||password!=confirm_password){
    Toast.fire({
                            icon: "error",
                            text: "enter same passwords"
                        })
   
  }
  else{
   axios.patch('/password',data).then((response)=>{
      if(response.data.status){
        location.href="/login"
      }
      else{
        Toast.fire({
                            icon: "error",
                            text: response.data.msg
                        })
      }
   })

  }
        })
    }
    </script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>  
  </body>
</html>