<html lang="en">

  <!-- Mirrored from smartshop.websitelayout.net/account-profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:34 GMT -->
  <head>

    <!-- metas -->
    <meta charset="utf-8" />
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
    <meta
      name="description"
      content="Smartshop - Multipurpose eCommerce Template + Admin"
    />

    <!-- title  -->
    <title>Smartshop - Multipurpose eCommerce Template + Admin</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/imgNA/logos/favicon.png" />
    <link
      rel="apple-touch-icon"
      href="/imgNA/logos/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/imgNA/logos/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/imgNA/logos/apple-touch-icon-114x114.png"
    />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/imagescoza/icons/favicon.png" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendorcoza/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fontscoza/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fontscoza/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fontscoza/linearicons-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendorcoza/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendorcoza/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendorcoza/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendorcoza/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendorcoza/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendorcoza/slick/slick.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendorcoza/MagnificPopup/magnific-popup.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendorcoza/perfect-scrollbar/perfect-scrollbar.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="csscoza/util.css" />
    <link rel="stylesheet" type="text/css" href="csscoza/main.css" />
    <!--===============================================================================================-->

    <!-- plugins -->
    <link rel="stylesheet" href="/cssNA/css/plugins.css" />

    <!-- theme core css -->
    <link href="/cssNA/css/styles.css" rel="stylesheet" />

  </head>

  <body class="animsition">

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper mp-pusher" id="mp-pusher">

      <!-- HEADER
        ================================================== -->
      <header class="header-v4">
        <!-- Header desktop -->
        <div class="container-menu-desktop">
          <!-- Topbar -->
          <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
              <div class="left-top-bar">
                Free shipping for standard order over $100
              </div>

              <div class="right-top-bar flex-w h-full">
                {{#if msg_login}}
						<a href="/logout" class="flex-c-m trans-04 p-lr-25">
							LOGOUT
						</a>
						{{else}}
             <a href="/login" class="flex-c-m trans-04 p-lr-25">
							LOGIN
						</a>
						{{/if}}

                <a href="/profile" class="flex-c-m trans-04 p-lr-25">
                  My Account
                </a>

                <a href="#" class="flex-c-m trans-04 p-lr-25">
                  EN
                </a>

                <a href="#" class="flex-c-m trans-04 p-lr-25">
                  USD
                </a>
              </div>
            </div>
          </div>

          <div class="wrap-menu-desktop how-shadow1">
            <nav class="limiter-menu-desktop container">

              <!-- Logo desktop -->
              <a href="#" class="logo">
                <img src="images/logo-01.png" alt="..." />
              </a>

              <!-- Menu desktop -->
              <div class="menu-desktop">
                <ul class="main-menu">
                  <li>
                    <a href="/">Home</a>

                  </li>

                  <li class="active-menu">
                    <a href="/shop">Shop</a>
                  </li>

                  <li>
                    <a href="about.html">About</a>
                  </li>

                  <li>
                    <a href="contact.html">Contact</a>
                  </li>
                </ul>
              </div>

              <!-- Icon header -->
              <div class="wrap-icon-header flex-w flex-r-m">
                <div
                  class="icon-header-item cl0 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search"
                >
                  <i class="zmdi zmdi-search"></i>
                </div>

                <div
                  class="icon-header-item cl0 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
                  data-notify="2"
                >
                  <i class="zmdi zmdi-shopping-cart"></i>
                </div>

                <a
                  href="#"
                  class="icon-header-item cl0 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
                  data-notify="0"
                >
                  <i class="zmdi zmdi-favorite-outline"></i>
                </a>
              </div>
            </nav>
          </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
          <!-- Logo moblie -->
          <div class="logo-mobile">
            <a href="/"><img
                src="/imgNA/logos/logo-footer.png"
                alt="..."
              /></a>
          </div>

          <!-- Icon header -->
          <div class="wrap-icon-header flex-w flex-r-m m-r-15">
            <div
              class="icon-header-item cl0 hov-cl1 trans-04 p-r-11 js-show-modal-search"
            >
              <i class="zmdi zmdi-search"></i>
            </div>

            <div
              class="icon-header-item cl0 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart"
              data-notify="2"
            >
              <i class="zmdi zmdi-shopping-cart"></i>
            </div>

            <a
              href="#"
              class="dis-block icon-header-item cl0 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti"
              data-notify="0"
            >
              <i class="zmdi zmdi-favorite-outline"></i>
            </a>
          </div>

          <!-- Button show menu -->
          <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </div>
        </div>

        <!-- Menu Mobile -->
        <div class="menu-mobile">
          <ul class="topbar-mobile">
            <li>
              <div class="left-top-bar">
                Free shipping for standard order over $100
              </div>
            </li>

            <li>
              <div class="right-top-bar flex-w h-full">
                <a href="#" class="flex-c-m p-lr-10 trans-04">
                  Help & FAQs
                </a>

                <a href="#" class="flex-c-m p-lr-10 trans-04">
                  My Account
                </a>

                <a href="#" class="flex-c-m p-lr-10 trans-04">
                  EN
                </a>

                <a href="#" class="flex-c-m p-lr-10 trans-04">
                  USD
                </a>
              </div>
            </li>
          </ul>

          <ul class="main-menu-m">
            <li>
              <a href="/">Home</a>

              <span class="arrow-main-menu-m">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </span>
            </li>

            <li>
              <a href="product.html">Shop</a>
            </li>

            <li>
              <a href="about.html">About</a>
            </li>

            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </div>

        <!-- Modal Search -->
        <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
          <div class="container-search-header">
            <button
              class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search"
            >
              <img src="/imagescoza/icons/icon-close2.png" alt="CLOSE" />
            </button>

            <form class="wrap-search-header flex-w p-l-15">
              <button class="flex-c-m trans-04">
                <i class="zmdi zmdi-search"></i>
              </button>
              <input
                class="plh3"
                type="text"
                name="search"
                placeholder="Search..."
              />
            </form>
          </div>
        </div>
      </header>

      <!-- CATEGORY MP-MENU
        ================================================== -->
      
          
       
        <!-- ACCOUNT ADDRESS
        ================================================== -->
        <section  style="background-color: #c2c2c2"class="md">
            <div class="container">

                <div class="title-info">
                    <h1>Contact / Shipping Address</h1></div>
                <div class="breadcrumbs-info">
                    <ul class="ps-0">
                        {{!-- <li><a href="home-shop-1.html">Home</a></li>
                        <li><a href="#">Contact / Shipping Address</a></li> --}}
                    </ul>
                </div>

            </div>
            <div class="container">
                <div class="row justify-content-center">

                    <!-- left panel -->
                    <div class="col-lg-4 col-sm-9 mb-2-3 mb-lg-0">

                        <div class="account-pannel">

                            <div class="p-4">

                                <div class="text-center">
                                    <div class="pb-3">
                                        <img class="img-fluid rounded-circle img-thumbnail" src="/imgNA/avatar/t-3.jpg" alt="...">
                                    </div>
                                    <h6 class="mb-0 display-28">{{user_list.name}}</h6>
                                    {{!-- <small>Joined February 06, 2017</small> --}}
                                    <div class="reward-points">
                                        <i class="ti-star text-primary pe-1"></i> Points: 7386
                                    </div>
                                </div>
                            </div>

                            <div class="list-group">
                                <a class="list-group-items" href="account-orders.html"><i class="ti-bag pe-2"></i>Orders<span class="badge badge-pill">6</span></a>
                                <a class="list-group-items" href="/profile"><i class="ti-user pe-2"></i>Profile</a>
                                <a class="list-group-items active" style="background-color: #717fe0;" href="account-address.html"><i class="ti-location-pin pe-2" ></i>Addresses</a>
                                <a class="list-group-items" href="account-wishlist.html"><i class="ti-heart pe-2"></i>Wishlist<span class="badge badge-pill">3</span></a>
                                <a class="list-group-items" href="account-tickets.html"><i class="ti-tag pe-2"></i>My Tickets<span class="badge badge-pill">4</span></a>
                            </div>

                        </div>

                    </div>
                    <!-- end left panel -->

                    <!-- right panel -->
                    <div class="col-lg-8">

                        <div class="common-block">

                            <div class="inner-title">
                                <h4 class="mb-0">Contact Address</h4>
                            </div>

                            <form method="post" id="newAddress">

                                <div class="row">

                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Your First name here">
                                        </div>

                                    </div>
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label>last Name</label>
                                            <input type="text" class="form-control" id="lastName" placeholder="Your last name here">
                                        </div>

                                    </div>
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="" class="form-control" id="email" placeholder="Your Email  here">
                                        </div>

                                    </div>
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input type="" class="form-control" id="phone" placeholder="Your Phonenumber here">
                                        </div>

                                    </div>

                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" class="form-control" id="address" placeholder="Your address here">
                                        </div>

                                    </div>
                                     <div class="col-sm-6">

                                        <div class="form-group">
                                            <label>Street</label>
                                            <input type="text" class="form-control" id="street" placeholder="Your Street here">
                                        </div>

                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label>City</label>
                                            <input type="text" class="form-control" id="city" placeholder="Your city name here">
                                        </div>

                                    </div>

                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label>State</label>
                                            <input type="text" class="form-control" id="state" placeholder="Your state name here">
                                        </div>

                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label>Zip Code</label>
                                            <input type="number" class="form-control" id="zipcode" placeholder="Your zip code here">
                                        </div>

                                    </div>

                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label>Country</label>
                                            <select  id="country" class="form-control form-select">
                                                <option value="" selected="selected">Select a country</option>
                                                <option value="AF">Afghanistan</option>
                                                <option value="AL">Albania</option>
                                                <option value="DZ">Algeria</option>
                                                <option value="AD">Andorra</option>
                                                <option value="AO">Angola</option>
                                                <option value="AI">Anguilla</option>
                                                <option value="AQ">Antarctica</option>
                                                <option value="AG">Antigua and Barbuda</option>
                                                <option value="AR">Argentina</option>
                                                <option value="AM">Armenia</option>
                                                <option value="AW">Aruba</option>
                                                <option value="AU">Australia</option>
                                                <option value="AT">Austria</option>
                                                <option value="AZ">Azerbaijan</option>
                                                <option value="BS">Bahamas</option>
                                                <option value="BH">Bahrain</option>
                                                <option value="BD">Bangladesh</option>
                                                <option value="BB">Barbados</option>
                                                <option value="BY">Belarus</option>
                                                <option value="PW">Belau</option>
                                                <option value="BE">Belgium</option>
                                                <option value="BZ">Belize</option>
                                                <option value="BJ">Benin</option>
                                                <option value="BM">Bermuda</option>
                                                <option value="BT">Bhutan</option>
                                                <option value="BO">Bolivia</option>
                                                <option value="BQ">Bonaire, Saint Eustatius and Saba</option>
                                                <option value="BA">Bosnia and Herzegovina</option>
                                                <option value="BW">Botswana</option>
                                                <option value="BV">Bouvet Island</option>
                                                <option value="BR">Brazil</option>
                                                <option value="IO">British Indian Ocean Territory</option>
                                                <option value="VG">British Virgin Islands</option>
                                                <option value="BN">Brunei</option>
                                                <option value="BG">Bulgaria</option>
                                                <option value="BF">Burkina Faso</option>
                                                <option value="BI">Burundi</option>
                                                <option value="KH">Cambodia</option>
                                                <option value="CM">Cameroon</option>
                                                <option value="CA">Canada</option>
                                                <option value="CV">Cape Verde</option>
                                                <option value="KY">Cayman Islands</option>
                                                <option value="CF">Central African Republic</option>
                                                <option value="TD">Chad</option>
                                                <option value="CL">Chile</option>
                                                <option value="CN">China</option>
                                                <option value="CX">Christmas Island</option>
                                                <option value="CC">Cocos (Keeling) Islands</option>
                                                <option value="CO">Colombia</option>
                                                <option value="KM">Comoros</option>
                                                <option value="CG">Congo (Brazzaville)</option>
                                                <option value="CD">Congo (Kinshasa)</option>
                                                <option value="CK">Cook Islands</option>
                                                <option value="CR">Costa Rica</option>
                                                <option value="HR">Croatia</option>
                                                <option value="CU">Cuba</option>
                                                <option value="CW">CuraÇao</option>
                                                <option value="CY">Cyprus</option>
                                                <option value="CZ">Czech Republic</option>
                                                <option value="DK">Denmark</option>
                                                <option value="DJ">Djibouti</option>
                                                <option value="DM">Dominica</option>
                                                <option value="DO">Dominican Republic</option>
                                                <option value="EC">Ecuador</option>
                                                <option value="EG">Egypt</option>
                                                <option value="SV">El Salvador</option>
                                                <option value="GQ">Equatorial Guinea</option>
                                                <option value="ER">Eritrea</option>
                                                <option value="EE">Estonia</option>
                                                <option value="ET">Ethiopia</option>
                                                <option value="FK">Falkland Islands</option>
                                                <option value="FO">Faroe Islands</option>
                                                <option value="FJ">Fiji</option>
                                                <option value="FI">Finland</option>
                                                <option value="FR">France</option>
                                                <option value="GF">French Guiana</option>
                                                <option value="PF">French Polynesia</option>
                                                <option value="TF">French Southern Territories</option>
                                                <option value="GA">Gabon</option>
                                                <option value="GM">Gambia</option>
                                                <option value="GE">Georgia</option>
                                                <option value="DE">Germany</option>
                                                <option value="GH">Ghana</option>
                                                <option value="GI">Gibraltar</option>
                                                <option value="GR">Greece</option>
                                                <option value="GL">Greenland</option>
                                                <option value="GD">Grenada</option>
                                                <option value="GP">Guadeloupe</option>
                                                <option value="GT">Guatemala</option>
                                                <option value="GG">Guernsey</option>
                                                <option value="GN">Guinea</option>
                                                <option value="GW">Guinea-Bissau</option>
                                                <option value="GY">Guyana</option>
                                                <option value="HT">Haiti</option>
                                                <option value="HM">Heard Island and McDonald Islands</option>
                                                <option value="HN">Honduras</option>
                                                <option value="HK">Hong Kong</option>
                                                <option value="HU">Hungary</option>
                                                <option value="IS">Iceland</option>
                                                <option value="IN">India</option>
                                                <option value="ID">Indonesia</option>
                                                <option value="IR">Iran</option>
                                                <option value="IQ">Iraq</option>
                                                <option value="IM">Isle of Man</option>
                                                <option value="IL">Israel</option>
                                                <option value="IT">Italy</option>
                                                <option value="CI">Ivory Coast</option>
                                                <option value="JM">Jamaica</option>
                                                <option value="JP">Japan</option>
                                                <option value="JE">Jersey</option>
                                                <option value="JO">Jordan</option>
                                                <option value="KZ">Kazakhstan</option>
                                                <option value="KE">Kenya</option>
                                                <option value="KI">Kiribati</option>
                                                <option value="KW">Kuwait</option>
                                                <option value="KG">Kyrgyzstan</option>
                                                <option value="LA">Laos</option>
                                                <option value="LV">Latvia</option>
                                                <option value="LB">Lebanon</option>
                                                <option value="LS">Lesotho</option>
                                                <option value="LR">Liberia</option>
                                                <option value="LY">Libya</option>
                                                <option value="LI">Liechtenstein</option>
                                                <option value="LT">Lithuania</option>
                                                <option value="LU">Luxembourg</option>
                                                <option value="MO">Macao S.A.R., China</option>
                                                <option value="MK">Macedonia</option>
                                                <option value="MG">Madagascar</option>
                                                <option value="MW">Malawi</option>
                                                <option value="MY">Malaysia</option>
                                                <option value="MV">Maldives</option>
                                                <option value="ML">Mali</option>
                                                <option value="MT">Malta</option>
                                                <option value="MH">Marshall Islands</option>
                                                <option value="MQ">Martinique</option>
                                                <option value="MR">Mauritania</option>
                                                <option value="MU">Mauritius</option>
                                                <option value="YT">Mayotte</option>
                                                <option value="MX">Mexico</option>
                                                <option value="FM">Micronesia</option>
                                                <option value="MD">Moldova</option>
                                                <option value="MC">Monaco</option>
                                                <option value="MN">Mongolia</option>
                                                <option value="ME">Montenegro</option>
                                                <option value="MS">Montserrat</option>
                                                <option value="MA">Morocco</option>
                                                <option value="MZ">Mozambique</option>
                                                <option value="MM">Myanmar</option>
                                                <option value="NA">Namibia</option>
                                                <option value="NR">Nauru</option>
                                                <option value="NP">Nepal</option>
                                                <option value="NL">Netherlands</option>
                                                <option value="AN">Netherlands Antilles</option>
                                                <option value="NC">New Caledonia</option>
                                                <option value="NZ">New Zealand</option>
                                                <option value="NI">Nicaragua</option>
                                                <option value="NE">Niger</option>
                                                <option value="NG">Nigeria</option>
                                                <option value="NU">Niue</option>
                                                <option value="NF">Norfolk Island</option>
                                                <option value="KP">North Korea</option>
                                                <option value="NO">Norway</option>
                                                <option value="OM">Oman</option>
                                                <option value="PK">Pakistan</option>
                                                <option value="PS">Palestinian Territory</option>
                                                <option value="PA">Panama</option>
                                                <option value="PG">Papua New Guinea</option>
                                                <option value="PY">Paraguay</option>
                                                <option value="PE">Peru</option>
                                                <option value="PH">Philippines</option>
                                                <option value="PN">Pitcairn</option>
                                                <option value="PL">Poland</option>
                                                <option value="PT">Portugal</option>
                                                <option value="QA">Qatar</option>
                                                <option value="IE">Republic of Ireland</option>
                                                <option value="RE">Reunion</option>
                                                <option value="RO">Romania</option>
                                                <option value="RU">Russia</option>
                                                <option value="RW">Rwanda</option>
                                                <option value="ST">São Tomé and Príncipe</option>
                                                <option value="BL">Saint Barthélemy</option>
                                                <option value="SH">Saint Helena</option>
                                                <option value="KN">Saint Kitts and Nevis</option>
                                                <option value="LC">Saint Lucia</option>
                                                <option value="SX">Saint Martin (Dutch part)</option>
                                                <option value="MF">Saint Martin (French part)</option>
                                                <option value="PM">Saint Pierre and Miquelon</option>
                                                <option value="VC">Saint Vincent and the Grenadines</option>
                                                <option value="SM">San Marino</option>
                                                <option value="SA">Saudi Arabia</option>
                                                <option value="SN">Senegal</option>
                                                <option value="RS">Serbia</option>
                                                <option value="SC">Seychelles</option>
                                                <option value="SL">Sierra Leone</option>
                                                <option value="SG">Singapore</option>
                                                <option value="SK">Slovakia</option>
                                                <option value="SI">Slovenia</option>
                                                <option value="SB">Solomon Islands</option>
                                                <option value="SO">Somalia</option>
                                                <option value="ZA">South Africa</option>
                                                <option value="GS">South Georgia/Sandwich Islands</option>
                                                <option value="KR">South Korea</option>
                                                <option value="SS">South Sudan</option>
                                                <option value="ES">Spain</option>
                                                <option value="LK">Sri Lanka</option>
                                                <option value="SD">Sudan</option>
                                                <option value="SR">Suriname</option>
                                                <option value="SJ">Svalbard and Jan Mayen</option>
                                                <option value="SZ">Swaziland</option>
                                                <option value="SE">Sweden</option>
                                                <option value="CH">Switzerland</option>
                                                <option value="SY">Syria</option>
                                                <option value="TW">Taiwan</option>
                                                <option value="TJ">Tajikistan</option>
                                                <option value="TZ">Tanzania</option>
                                                <option value="TH">Thailand</option>
                                                <option value="TL">Timor-Leste</option>
                                                <option value="TG">Togo</option>
                                                <option value="TK">Tokelau</option>
                                                <option value="TO">Tonga</option>
                                                <option value="TT">Trinidad and Tobago</option>
                                                <option value="TN">Tunisia</option>
                                                <option value="TR">Turkey</option>
                                                <option value="TM">Turkmenistan</option>
                                                <option value="TC">Turks and Caicos Islands</option>
                                                <option value="TV">Tuvalu</option>
                                                <option value="UG">Uganda</option>
                                                <option value="UA">Ukraine</option>
                                                <option value="AE">United Arab Emirates</option>
                                                <option value="GB">United Kingdom (UK)</option>
                                                <option value="US">United States (US)</option>
                                                <option value="UY">Uruguay</option>
                                                <option value="UZ">Uzbekistan</option>
                                                <option value="VU">Vanuatu</option>
                                                <option value="VA">Vatican</option>
                                                <option value="VE">Venezuela</option>
                                                <option value="VN">Vietnam</option>
                                                <option value="WF">Wallis and Futuna</option>
                                                <option value="EH">Western Sahara</option>
                                                <option value="WS">Western Samoa</option>
                                                <option value="YE">Yemen</option>
                                                <option value="ZM">Zambia</option>
                                                <option value="ZW">Zimbabwe</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>

                                {{!-- <div class="inner-title mt-1-9">
                                    <h4 class="mb-0">Shipping Address</h4>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="same-contact">
                                            <label class="form-check-label" for="same-contact">Same as contact address</label>
                                        </div>
                                    </div> --}}
<button type="submit"  style="background-color: #717fe0;" class="butn-style2 mt-4">Update Address</button>
                                </div>

                                

                            </form>

                        </div>

                    </div>
                    <!-- end right panel -->
                </div>
            </div>
        </section>
        </div>

    <!-- BUY TEMPLATE
    ================================================== -->
    {{! <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/smartshop-multipurpose-ecommerce-template-WB0N7CT4D" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div> }}

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i
        class="fas fa-angle-up"
        aria-hidden="true"
      ></i></a>
      
      
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>
      <script>
        document.getElementById('newAddress').addEventListener('submit',(e)=>{
            e.preventDefault();
            axios.post('/address', {
                data:{
               
				firstName:document.getElementById('firstName').value,
                lastName:document.getElementById('lastName').value,
                address: document.getElementById('address').value,
                street:document.getElementById('street').value,
                city:document.getElementById('city').value,
                state:document.getElementById('state').value,
                zipcode:document.getElementById('zipcode').value,
                country:document.getElementById('country').value,
                phone:document.getElementById('phone').value,
                email:document.getElementById('email').value
                }
				})
        
        }).then((response)=>{
            
        })
      </script>
       
      <script src="/jsNA/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/jsNA/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/jsNA/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="/jsNA/core.min.js"></script>

    <!-- custom scripts -->
    <script src="/jsNA/main.js"></script>
    <script src="/vendorcoza/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendorcoza/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendorcoza/bootstrap/js/popper.js"></script>
    <script src="/vendorcoza/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendorcoza/select2/select2.min.js"></script>

    <!--===============================================================================================-->
    <script src="/vendorcoza/daterangepicker/moment.min.js"></script>
    <script src="/vendorcoza/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/vendorcoza/slick/slick.min.js"></script>
    <script src="/jscoza/slick-custom.js"></script>

    <!--===============================================================================================-->
    <script src="/vendorcoza/parallax100/parallax100.js"></script>
    <!--===============================================================================================-->
    <script
      src="/vendorcoza/MagnificPopup/jquery.magnific-popup.min.js"
    ></script>
    <!--===============================================================================================-->
    <script src="/vendorcoza/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendorcoza/sweetalert/sweetalert.min.js"></script>

    <!--===============================================================================================-->
    <script
      src="/vendorcoza/perfect-scrollbar/perfect-scrollbar.min.js"
    ></script>

    <!--===============================================================================================-->
    <script src="/jscoza/main.js"></script>

  </body>

</html>