<!DOCTYPE html>
<html>
<head>
  <title>Slide Navbar</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/userlogin.css">
</head>
<body>
    <div class="main">    
    <input type="checkbox" id="chk" aria-hidden="true">
      <div class="signup">
        
        <form action="/signup" method="post" onsubmit="return validation()">
          <label id="labelsignup" for="chk" aria-hidden="true">Sign Up</label>
         
          <input type="text" name="name" id="form3Example1c" placeholder="Enter name" >  
          <input type="email" name="email" id="form3Example3c" placeholder="email" >  
          <input type="password" name="password" id="form3Example4c" placeholder="password">
          <input type="password" name="confirm_password" id="form3Example4cd"  placeholder=" confirm Password" >
          <button id="sign-button" >Sign Up</button>
        </form>
      </div>
  </div>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
  const Toast = Swal.mixin({
                toast: true,
                position: "center-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener("mouseenter", Swal.stopTimer);
                    toast.addEventListener("mouseleave", Swal.resumeTimer);
                }
            })
  if({{msg_correct}}){
    Toast.fire({
                            icon: "success",
                            title: "SUCCESS",
                            text: "OTP verified"
                        });
    }
    if({{msg_exist}}){
    Toast.fire({
                            icon: "error",
                            text: "Email Already Registered"
                        }) 
    }

  function validation(){
let val1=true
let val2=true
let val3=true
let val4=true

  
const pw1 = document.getElementById("form3Example4c").value;
const pw2 = document.getElementById("form3Example4cd").value;
let x = document.getElementById("form3Example1c").value;
let y = document.getElementById("form3Example3c").value;
var atposition=y.indexOf("@");
var dotposition=y.lastIndexOf(".");

   if (x.length<3) {
    Toast.fire({
                            icon: "error",
                            text: "Name must be filled out"
                        })
    val1=false
	}
  else if(atposition<1||dotposition<atposition+2||dotposition+2>=y.length)
  {
Toast.fire({
                            icon: "error",
                            text: "Please enter a valid   e-mailaddress"
                        })
val2=false
  }
  else if(pw1 =="" || pw2==""){
  Toast.fire({
                            icon: "error",
                            text: "entert both Password feild"
                        })
  val3 = false
 }

  else if(pw2.length !=0 && pw2.length!=pw1.length||pw1!=pw2){
    Toast.fire({
                            icon: "error",
                            text: "enter same passwords"
                        })
    val4 = false
  }
  
if(val1&&val2&&val3&&val4){
  return true
}else{
  return false
}
}
</script>
</body>
</html>